:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  text-align: justify;
}

.full-width-text {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0 20px;
  display: block;
  color: #c7c7c7;
  line-height: 1.6;
  font-size: 18px;
}
.wide-text {
  max-width: 1400px;
  margin: auto;
  padding: 0 30px;
  color: #c7c7c7;
  font-size: 18px;
  line-height: 1.7;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #0b14b8;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #15292B;
    background-color: #15292B;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
